* {
    padding: 0;
    margin: 0;
    font-family: "맑은 고딕";
    font-style: normal;
}
section {
	padding: 0px;
	margin: 0px auto;
    background-color: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

main {
	width: 1100px;
	margin: 0px auto;
	margin-top: 80px;
}

.order_ul {
	width: 100%;
	min-height: 200px;
	margin-top: 20px;
}

.order_ul li {
    width: 100%;
	min-height: 200px;
    margin-top: 20px;
    border: 1px solid #afafaf;
    display: flex;
    flex-direction: column;
}

.order_li_top {
    width: 1060px;
    height: 50px;
    padding: 0px 20px;
    background-color: #F4F0D3;
    border-bottom: 1px solid #afafaf;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order_li_bot {
    display: flex;
    justify-content: space-between;
}

.order_li_bot_left {
    width: 880px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order_li_img {
    width: 120px;
    height: 120px;
}

.order_li_img img {
    width: 100%;
    height: 100%;
}

.order_li_text {
    width: 700px;
    height: 120px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

.order_li_bot_right {
    width: 180px;
    height: 150px;
    padding: 0px 10px;
    border-left: 1px solid #afafaf;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.review_btn, .QA_btn {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    border: 1px solid #83dda7;
    cursor: pointer;
    font-size: 16pt;
    font-weight: 600;
}

.review_btn {
    background-color: #83dda7;
    color: #fff;
}

.QA_btn {
    background-color: #fff;
    color: #83dda7;
}